<h1> <%= @soup.name %> </h1>
<% if @soup.featured? %>
	<p>This Soup is featured</p>
<% else %>
<p> This Soup is not featured, IT SUCKS!</p>
<% end %>

<% if params[:admin] == "true" %>
<p><%=link_to "Toggle featured", toggle_featured_path(@soup) %> </p>
<% end %>